#main-scene
	h1 
		text-align: center
	.menu
		width: 500px
		margin: auto

		li
			margin-top: 20px

		.play
			button 
				width: 100%
				
		.multiplayer
			input 
				width: 100%
			button
				width: 50%
